@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-one: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan-one: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    text-align: center;
}  
:-moz-placeholder {
    text-align: center;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan-one);
}
.container {
    padding: 0 20px;
}
.page-title {
    text-align: center;
    color: var(--very-dark-cyan);
    margin-top: -40px;
    margin-bottom: 40px;
    letter-spacing: 10px;
}
.calculator-container {
    background-color: white;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    padding: 30px;
    max-width: 75vw;
    min-width: 60vw;
}
.calculator-container .left-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}
.left-part input {
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.left-part input[type=number] {
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan-two);
    font-weight: 700;
    text-align: right;
    padding: 8px;
}
.calculator-container .left-part .bill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bill input {
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.select-tip {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.grid-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
}
.select-tip input[type=number]:focus,
.bill input[type=number]:focus {
    outline: var(--strong-cyan) 2px solid;
}
.select-tip input[type=button] {
    padding: 8px 0;
    color: white;
    background-color: var(--very-dark-cyan);
    cursor: pointer;
}
.select-tip input[type=button]:hover {
    background-color: var(--dark-grayish-cyan-two);
}
.num-people {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.num-people .labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.labels .hint {
    color: red;
    font-size: 12px;
    font-weight: 700;
    display: none;
}
.num-people input {
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.num-people input[type=number]:focus {
    outline: red 2px solid;
}
.num-input {
    width: 100%;
}
.calculator-container .right-part {
    flex: 1;
    background-color: var(--very-dark-cyan);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-part .lines {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.lines .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.line .left h5 {
    color: white;
}
.line .left h6 {
    color: var(--dark-grayish-cyan-two);
}
.line .right {
    flex: 4;
    min-width: fit-content;
    display: flex;
    justify-content: flex-end;
}
.line .right h1 {
    font-weight: 700;
    font-size: 40px;
    color: var(--strong-cyan);
}
.right-part input[type=button] {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.right-part input[type=button]:hover {
    background-color: var(--light-grayish-cyan-one);
}
.visible-hint {
    display: inline !important;
}
.deactivated {
    background-color: var(--dark-grayish-cyan-two) !important;
    color: var(--dark-grayish-cyan-one) !important;
    cursor: not-allowed !important;
}
.selected-percentage {
    background-color: var(--strong-cyan) !important;
}
@media only screen and (max-width: 1025px) {
    .calculator-container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 840px) {
    .line .right h1 {
        font-size: 36px;
    }
}
@media only screen and (max-width: 751px) {
    .container {
        padding: 0 10px;
    }
    .page-title {
        margin-top: 20px;
    }
    .calculator-container .left-part {
        padding: 0;
    }
    .left-part input {
        font-size: 14px;
    }
    .left-part label {
        font-size: 15px;
    }
    .left-part input[type=number] {
        padding: 6px 4px;
    }
    .line .right h1 {
        font-size: 30px;
    }
    .right-part input[type=button] {
        font-size: 15px;
    }
}
@media only screen and (max-width: 660px) {
    .calculator-container {
        padding: 20px;
    }
    .right-part {
        padding: 20px !important;
    }
    .line .right h1 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 561px) {
    body {
        align-items: flex-end;
    }
    .page-title {
        margin: 20px 0;
    }
    .container {
        padding: 0;
    }
    .calculator-container {
        flex-direction: column;
    }
    .right-part input[type=button] {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .grid-input {
        grid-template-columns: 1fr 1fr;
    }
    .left-part input {
        font-size: 16px;
    }
    .left-part label {
        font-size: 16px;
    }
    .left-part input {
        padding: 12px 8px;
    }
    .right-part input[type=button] {
        font-size: 16px;
    }
}
@media only screen and (max-width: 351px) {
    .calculator-container .right-part {
        padding: 30px 20px;
    }
    .line .right h1 {
        font-size: 22px;
    }
}